body{
    background-color: black;
}
img{
    display: block;
    margin: 20px auto;
}
h1{
    color: aliceblue;
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    margin-bottom: -20px;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p2 {
    margin-top: 40px;    /* Espaço em cima do texto */
    margin-bottom: 20px; /* Espaço entre o texto e os links */
    text-align: left;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    display: block;      /* Faz o link ocupar a linha inteira */
    color: blue;
    text-decoration: none;
    margin-right: 15px; /* Espaço entre um link e outro */
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline; /* Fica sublinhado quando passa o mouse */
}

#video-gojo, #img-final-gojo, #video-sukuna, #img-final-sukuna {
    display: none; /* Esconde por padrão */
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.midia-botao {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Troque 'cover' por 'contain' */
    display: block;
    background-color: white; /* Adicione um fundo para não ficar buraco preto */
}
/* Garante que o container seja o ponto de referência */
.link-imagem {
    position: relative;
    display: inline-block; /* Mudado de block para inline-block para caber um do lado do outro */
    width: 150px;
    height: 100px;
    overflow: hidden;
}