body{
    background-color: black;
}
img{
    display: block;
    margin: 20px auto;
}
h1{
    color: aliceblue;
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    margin-bottom: -20px;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p2 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    display: block;
    color: blue;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}

#video-gojo, #img-final-gojo, #video-sukuna, #img-final-sukuna {
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.midia-botao {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    background-color: white;
}

.link-imagem {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 100px;
    overflow: hidden;
}